<form [formGroup]="cygnetForm" class="form" (submit)="onSubmit()">
  <div class="row">
    <div class="col-md-4 form-field">
      <mat-form-field>
        <input matInput placeholder="Form Name" formControlName="formName">
      </mat-form-field>
    </div>
    <div class="col-md-2 form-field">
      <button mat-raised-button color="primary" type="submit">Add control</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 form-field">
      <mat-form-field>
        <mat-select placeholder="Select Type" formControlName="type">
          <mat-option *ngFor="let option of inputTypes" value="{{option.value}}">{{option.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3 form-field">
      <mat-form-field>
        <input matInput placeholder="Default Value" formControlName="defaultValue" />
      </mat-form-field>
    </div>
    <div class="col-md-3 form-field">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
    </div>
    <div class="col-md-3 form-field">
      <mat-form-field>
        <input matInput type="number" placeholder="Order Number" formControlName="order" />
      </mat-form-field>
    </div>
  </div>
  <div class="row" *ngIf="cygnetForm.controls['options']">
    <div class="col-md-6 form-field">
      <mat-form-field>
        <mat-chip-list #optionList>
          <mat-chip *ngFor="let item of options" [selectable]="true" [removable]="true" (removed)="removeOptions(item)">
            {{item.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Options..." [matChipInputFor]="optionList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addOptions($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>
</form>