<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title class="card-title">
      <h2>Form Builder</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-form-creator></app-form-creator>
  </mat-card-content>
</mat-card>

<div *ngIf="showForm">
  <app-dynamic-form-generator (isSubmitted)="onSubmitResponse($event)"></app-dynamic-form-generator>
</div>

<div *ngIf="!showForm" class="response">
  <mat-card>
    <mat-card-content>
      Response submitted successfully!
      <span>
        <mat-icon (click)="showForm = !showForm">cancel</mat-icon>
      </span>
    </mat-card-content>
  </mat-card>
</div>